# Created by .ignore support plugin (hsz.mobi)
### Java template
target

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### JetBrains template
.idea
*.iml

overlays
repositories
/.classpath
/.project
/.settings
.DS_Store
src/main/webapp/cache/*
/build/
.factoryPath
/.apt_generated/
/.apt_generated_tests/

### local
/grafana/
/prometheus/
